* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Roboto';

}

/* ESTILOS DEL NAV */

.nav{
    display: flex;
    color: black;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 100px;

}

.ventos-logo img{

    width: 130px;
}

.nav a{

    color: #000;
    text-decoration: none;
    margin-right: 20px;
    font-size: 22px;
}

.ventos-logo{

    flex:1;
}
.resto{
  
    flex: 1;
    text-align: right;
}

.resto :nth-child(1){

    font-weight: 600;
}


